sudo: required
language: cpp
services:
    - docker

before_install:
    - docker pull base/archlinux
    - docker run base/archlinux sed -i "s/SigLevel.*/SigLevel = Never/g" /etc/pacman.conf
    - docker run base/archlinux pacman -Syu --noconfirm base-devel emscripten sdl2 sdl2_gfx sdl2_image sdl2_mixer sdl2_ttf cmake clang

matrix:
  include:
    - env: COMPILER="gcc"
    - env: COMPILER="clang"
    - env: COMPILER="emscripten"

script:
    if [[ $COMPILER = 'gcc' ]]; then
        docker run -v ${TRAVIS_BUILD_DIR}:ro base/archlinux /bin/sh -c "cd ${TRAVIS_BUILD_DIR}; make";
    elif [[ $COMPILER = 'clang' ]]; then
        docker run -v ${TRAVIS_BUILD_DIR}:ro base/archlinux /bin/sh -c "cd ${TRAVIS_BUILD_DIR}; make clang";
    elif [[ $COMPILER = 'emscripten' ]]; then
        docker run -v ${TRAVIS_BUILD_DIR}:ro base/archlinux /bin/sh -c "cd ${TRAVIS_BUILD_DIR}; make web";
    fi
